<!-- Login form -->
<form
    class="text-center border border-light p-4"
    [formGroup]="validationForm"
    (ngSubmit)="onSubmit()"
>
    <p class="h4 mb-4">Sign in</p>

    <!-- Email -->
    <div class="md-form mb-4">
        <input
                type="email"
                id="auth_login_email_input"
                class="form-control"
                placeholder="E-mail"
                formControlName="email"
        />
        <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
            <div class="error-message-1">
                {{ email?.errors?.['required'] ? 'Email is required' : 'Invalid email' }}
            </div>
        </div>
    </div>

    <!-- Password -->
    <div class="md-form mb-4">
        <input
            type="password"
            id="auth_login_password_input"
            class="form-control"
            placeholder="Password"
            formControlName="password"
        />
        <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
            <div *ngIf="password?.errors?.['required']" class="error-message-1">
                Password is required.
            </div>
            <div *ngIf="password?.errors?.['minlength']" class="error-message-1">
                Password must be at least {{password?.errors?.['minlength']?.['requiredLength']}} characters long.
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-around">
        <div>
            <!-- Forgot password -->
            <a href="">Forgot password?</a>
        </div>
    </div>

    <!-- Sign in button -->
    <button
        mdbBtn
        color="info"
        block="true"
        class="my-4"
        type="submit"
        [disabled]="!validationForm.valid"
    >
        Sign in
    </button>

    <!-- Register -->
    <p>Not a member?
        <a routerLink="{{ routes.authRegistration }}">Register</a>
    </p>
</form>
<!-- /Login form -->
