<div class="row d-flex justify-content-center" *ngIf="user && pair">
    <!-- Header -->
    <div class="headings d-flex justify-content-between align-items-center mb-3">
        <a
            [routerLink]="routes.datingAccount.replace(':id', pair.id)"
            class="nav-link"
            title="Info"
        >
            <img [src]="pair | img:pair.avatar" alt="{{ pair.name }} avatar" height="100px">
        </a>
        <h5>
            <a
                [routerLink]="routes.datingAccount.replace(':id', pair.id)"
                class="nav-link"
                title="Info"
            >
                {{ pair.name }} ({{ pair.age }})
            </a>
        </h5>
    </div>
    <!-- Messages -->
    <div
        [id]="getScrollContainerID()"
        class="row"
        style="overflow-y:scroll; max-height: 350px;"
    >
        <div
            *ngFor="let item of scrollItems"
            class="card p-3"
            [id]="item.htmlID"
        >
            <div class="d-flex justify-content-between align-items-center">
                <div class="user d-flex flex-row align-items-center">
                    <img [src]="item.data.from | img:item.data.from.avatar" width="30" class="user-img rounded-circle mr-2">
                    <span>
                        <small class="font-weight-bold text-primary">{{ item.data.from.name }}</small>
                    </span>
                </div>
                <small>{{ item.data.transformedTime ?? (item.data.time | spend) }}</small>
            </div>
            <div class="action d-flex justify-content-between mt-2 align-items-center">
                <div class="reply px-4">
                    <small>{{ item.data.text }}</small>
                </div>
            </div>
        </div>
    </div>
    <!-- New message field -->
    <div class="card-footer text-muted d-flex justify-content-start align-items-center">
        <textarea
            type="text"
            class="form-control form-control-lg"
            id="exampleFormControlInput1"
            placeholder="Type message"
            [(ngModel)]="msg"
            (keydown.enter)="onSend()"
            (keyup.enter)="msg = ''"
        ></textarea>
        <a class="ms-3" href="javascipt:;" (click)="onSend()">
            <i class="fas fa-paper-plane"></i>
        </a>
    </div>
</div>
