<!-- Sign In -->
<p>Back to profile settings
    <a routerLink="{{ routes.updateProfile }}">Profile updating</a>
</p>

<!-- Registration form -->
<form
    class="text-center border border-light p-4"
    [formGroup]="validationForm"
    (ngSubmit)="onSubmit()"
>
    <p class="h4 mb-4">Update password</p>

    <!-- Old Password -->
    <div class="md-form mb-4">
        <input
            type="password"
            class="form-control"
            placeholder="Current Password"
            formControlName="oldPassword"
        />
        <div *ngIf="oldPassword?.invalid && (oldPassword?.dirty || oldPassword?.touched)">
            <div *ngIf="oldPassword?.errors?.['required']" class="error-message-1">
                Type a current password.
            </div>
            <div *ngIf="oldPassword?.errors?.['minlength']" class="error-message-1">
                Password must be at least {{oldPassword?.errors?.['minlength']?.['requiredLength']}} characters long.
            </div>
            <div *ngIf="oldPassword?.errors?.['maxlength']" class="error-message-1">
                Password must not be greater than {{oldPassword?.errors?.['maxlength']?.['requiredLength']}} characters long.
            </div>
            <div *ngIf="oldPassword?.errors?.['validation']" class="error-message-1">
                {{ oldPassword?.errors?.['validation']?.['message'] ?? 'Invalid current password' }}
            </div>
        </div>
    </div>

    <!-- Password -->
    <div class="md-form mb-4">
        <input
            type="password"
            class="form-control"
            placeholder="Password"
            formControlName="password"
        />
        <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
            <div *ngIf="password?.errors?.['required']" class="error-message-1">
                Password is required.
            </div>
            <div *ngIf="password?.errors?.['minlength']" class="error-message-1">
                Password must be at least {{password?.errors?.['minlength']?.['requiredLength']}} characters long.
            </div>
            <div *ngIf="password?.errors?.['maxlength']" class="error-message-1">
                Password must not be greater than {{password?.errors?.['maxlength']?.['requiredLength']}} characters long.
            </div>
            <div *ngIf="password?.errors?.['passwordValidation']" class="error-message-1">
                Create a new password
            </div>
        </div>
    </div>

    <!-- Retype Password -->
    <div class="md-form mb-4">
        <input
            type="password"
            class="form-control"
            placeholder="Retype Password"
            formControlName="retypedPassword"
        />
        <div *ngIf="retypedPassword?.invalid && (retypedPassword?.dirty || retypedPassword?.touched)">
            <div *ngIf="retypedPassword?.errors?.['required']" class="error-message-1">
                Password is required.
            </div>
            <div *ngIf="retypedPassword?.errors?.['minlength']" class="error-message-1">
                Password must be at least {{retypedPassword?.errors?.['minlength']?.['requiredLength']}} characters long.
            </div>
            <div *ngIf="retypedPassword?.errors?.['maxlength']" class="error-message-1">
                Password must not be greater than {{retypedPassword?.errors?.['maxlength']?.['requiredLength']}} characters long.
            </div>
            <div *ngIf="retypedPassword?.errors?.['passwordsComparison']">
                Passwords doesn't match
            </div>
        </div>
    </div>

    <!-- Submit button -->
    <button
        mdbBtn
        color="info"
        block="true"
        class="my-4"
        type="submit"
        [disabled]="!validationForm.valid"
    >
        Update password
    </button>
</form>
