<nav class="nav-bar">
    <div class="nav-ber__logo nav-bar__item">
        <div class="nav-bar__logo nav-link" (click)="toggleDropdown('menu')" #menuBar></div>
        <div class="dropdown-list">
            <ul [class]="'dropdown-list__content menu' + (dropdowns.menu ? ' active' : '')">
                <li class="dropdown-list__item" *ngIf="user">
                    <a class="nav-link" routerLink="{{ routes.home }}">Home</a>
                </li>
                <li class="dropdown-list__item" *ngIf="user">
                    <a class="nav-link" routerLink="{{ routes.pairsList }}">Pairs</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="nav-bar__account nav-bar__item" *ngIf="user">
        <div class="nav-link" (click)="toggleDropdown('account')" #accountBar>
            <span class="nav-bar__username">{{ user.name }}</span>
            <img [src]="user | img:user.avatar:avatarSize" class="nav-bar__avatar" />
        </div>
        <div class="dropdown-list">
            <ul [class]="'dropdown-list__content account' + (dropdowns.account ? ' active' : '')">
                <li class="dropdown-list__item" *ngIf="user">
                    <a class="nav-link" routerLink="{{ routes.myProfile }}">
                        My profile
                    </a>
                </li>
                <li class="dropdown-list__item" *ngIf="user">
                    <a class="nav-link" href="javascript:;" (click)="logout()">
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Navbar -->

<div class="container">
    <router-outlet></router-outlet>
    <app-notification-popup></app-notification-popup>
</div>
