<div class="row">
    <div class="col-sm-4">
        <p *ngFor="let pair of pairs">
            <a
                routerLink="{{ routes.dialog.replace(':id', pair.id) }}"
                class="nav-link"
                (click)="selectPair(pair.id)"
            >
                <img [src]="pair | img:pair.avatar" alt="{{ pair.name }} avatar" height="50">
                {{ pair.name }} ({{ pair.age }})
            </a>
        </p>
    </div>
    <div class="col-sm-8" *ngIf="selectedPair && dialogs[selectedPair.id]">
        <app-dialog
            [pair]="selectedPair"
            [messagesCount]="dialogs[selectedPair.id].count"
            [messages]="dialogs[selectedPair.id].messages"
        ></app-dialog>
    </div>
</div>
