<div class="row">
    <div class="col-sm-4">
        <p *ngFor="let pair of pairs">
            <a
                routerLink="{{ routes.dialog.replace(':id', pair.id) }}"
                class="nav-link"
                (click)="selectPair(pair.id)"
            >
                <img [src]="pair | img:pair.avatar" alt="{{ pair.name }} avatar" height="50">
                {{ pair.name }} ({{ pair.age }})
            </a>
        </p>
    </div>
    <div class="col-sm-8">
        <div *ngFor="let dialog of dialogs | keyvalue">
            <div *ngIf="selectedPair && selectedPair.id === dialog.key">
                <app-dialog
                    [pair]="selectedPair"
                    [messagesCount]="dialog.value.count"
                    [chatMessagesLimit]="chatMessagesLimit"
                    [messages]="dialog.value.messages"
                ></app-dialog>
            </div>
        </div>
    </div>
</div>
