<form
    class="text-center border border-light"
>
    <!-- File input -->
    <div class="md-form mb-4">
        <label for="profile_image_input" class="form-label">Upload image</label>
        <input
            id="profile_image_input"
            class="form-control"
            type="file"
            name="file"
            multiple
            (change)="onFileSelected($event)"
        />
    </div>
</form>

<div class="row">
    <div class="col-lg-10 col-md-12 mb-4 mb-lg-0">
        <img *ngFor="let file of files" class="img-fluid w-10 shadow-1-strong rounded mb-4" [src]="file.src" alt="{{file.name}}" />
    </div>
</div>
