<div
    class="modal fade show"
    tabindex="-1"
    aria-labelledby="exampleModalLiveLabel"
    aria-modal="true"
    role="dialog"
    style="display: block;"
    *ngIf="notification"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: {{ color }};">
                <h5 class="modal-title">{{ title }}</h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                    (click)="close()"
                ></button>
            </div>
            <div class="modal-body">
                <p>{{ notification.message }}</p>
            </div>
            <div class="modal-footer">
                <a
                    class="nav-link btn btn-primary"
                    (click)="close()"
                    href="javascript:;"
                >
                    Close
                </a>
            </div>
        </div>
    </div>
</div>
