<div class="row" *ngIf="account">
    <div class="col-sm-4"></div>
    <div class="card col-sm-4" style="width: 20rem;">
        <img [src]="account | img:account.photos[0]:viewPhotoSize" class="card-img-top" alt="Avatar">
        <div class="card-body">
            <h5 class="card-title">{{ account.name }}, {{ account.age }}</h5>
            <p class="card-text">{{ account.about | short }}</p>
            <div class="row">
                <div class="col-sm-4">
                    <button
                        class="btn btn-success"
                        title="Like"
                        (click)="onLike()"
                        [disabled]="isMatch"
                    >
                        <i class="bi bi-heart-fill"></i>
                    </button>
                </div>
                <div class="col-sm-4">
                    <a
                        [routerLink]="routes.datingAccount.replace(':id', account.id)"
                        class="btn btn-primary nav-link"
                        title="Info"
                    >
                        <i class="bi bi-arrow-down"></i>
                    </a>
                </div>
                <div class="col-sm-4">
                    <button (click)="onNext()" class="btn btn-danger" title="Next">
                        <i class="bi bi-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>
<app-match-popup
    [opened]="isMatch"
    [account]="account"
    (returnToDating)="onCloseMatchPopup()"
></app-match-popup>
