<div class="row">
    <h4>My Profile</h4>
    <a class="nav-link" routerLink="{{ routes.myImages }}">My Images</a>
    <a class="nav-link" routerLink="{{ routes.updateProfile }}">Update</a>
</div>

<div class="card" *ngIf="user">
    <div class="row g-0">
        <div class="col-md-5">
            <img [src]="user | img:user.avatar" class="img-fluid rounded-start" alt="Avatar">
        </div>
        <div class="col-md-7">
            <div class="card-body">
                <h5 class="card-title">{{ user.name }}</h5>
                <p class="card-text">{{ user.about }}</p>
                <p class="card-text">Email: <small class="text-muted">{{ user.email }}</small></p>
                <p class="card-text">Gender: <small class="text-muted">{{ user.gender }}</small></p>
                <p class="card-text">Orientation: <small class="text-muted">{{ user.orientation }}</small></p>
                <p class="card-text">I'm looking for: {{ user.showGender ? user.showGender : 'Undefined' }}</p>
                <p class="card-text">Birthday: {{ user.birthday }} ({{ user.age }})</p>
            </div>
        </div>
    </div>
</div>
