<a routerLink="{{ routes.datingAccounts }}" class="nav-link">Dating</a>

<div class="row" *ngIf="account">
    <div class="col-sm-4"></div>
    <div class="card col-sm-4" style="width: 27rem;">
        <img
            [src]="account | img:account.photos[photoIndex]:viewPhotoSize"
            class="card-img-top"
            [alt]="account.name + ' photo ' + photoIndex"
        />
        <div class="card-body">
            <h5 class="card-title">{{ account.name }}, {{ account.age }}</h5>
            <p class="card-text">Gender: {{ account.gender }} ({{ account.orientation }})</p>
            <p class="card-text">{{ account.about }}</p>
            <p *ngIf="account.isPair">
                <a routerLink="{{ routes.dialog.replace(':id', account.id) }}" class="nav-link">Dialog</a>
            </p>
            <div class="row">
                <div class="col-sm-4">
                    <button
                        (click)="photoIndex = photoIndex  - 1"
                        class="btn btn-primary"
                        [disabled]="photoIndex === 0"
                        title="Prev photo"
                    >
                        <i class="bi bi-arrow-left"></i>
                    </button>
                </div>
                <div class="col-sm-4">
                    <button
                        (click)="onLike()"
                        class="btn btn-success"
                        title="Like"
                        [disabled]="account.isLiked || account.isPair"
                    >
                        <i class="bi bi-heart-fill"></i>
                    </button>
                </div>
                <div class="col-sm-4">
                    <button
                        (click)="photoIndex = photoIndex + 1"
                        class="btn btn-primary"
                        title="Next photo"
                        [disabled]="photoIndex === photosCount - 1"
                    >
                        <i class="bi bi-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>

<app-match-popup
    [opened]="isMatch"
    [account]="account"
    (returnToDating)="onCloseMatchPopup()"
></app-match-popup>
